<!doctype html>
<html>
<head>
	<title>User Login and Authentication</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div class="form-container">
		<p class="form-header">Login</p>
		<form class="mainForm" method="POST" action="/login">
			<label>Username:</label>
			<input type="text" name="username">
			<label>Password:</label>
			<input type="password" name="password"><br>
			<hr>
			<input type="submit" value="Login">
		</form>
	</div>
</body>
</html>