div.form-container{
	display: inline-block;
	border: 4px ridge green;
	width: 400px;
	border-radius: 10px;
	margin: 10px;
}
p.form-header{
	margin: 0px;
	font: 24px bold;
	color: white; background:green;
	text-align: center;
}
form.mainForm{
	margin:10px;
}
div.innerDiv{
	margin:10px;
}
label{
	width: 300px;
	display: inline-block;
}
input{
	border: 3px ridge green;
	border-radius: 5px;
	padding: 3px;
}
input[type=text] {
	display: block;
}

input[type=submit] {
	font:18px bold;
	width: fit-content;
	color: white; background: green;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}
div.authOptions{
	margin: 10px;
	width: 400px;
}

input[value=Logout] {
	margin-left: 200px;
}
a[href=create] {
	margin-top: 15px;
	padding: 3px;
}
